
/*
body{
    font-size: 500px;
}
*/

p{
    font-size: 60px; /* para que coja todo el párrafo: p (si quiero que sea un párrafo en concreto nombrarlos; p1, p2, p3, etc.*/
}

.verde{
    color: green;
    text-decoration: underline;
}

.rojo1{
    color: red;
}

.bordeado{
    text-decoration: underline overline; /* poner underline y overline juntos, para que una no machaque la otra*/
}

.textoGrande{
    font-size: larger; /* si pongo large lo hace pequeño */
    font-weight: bold;
}

.azul{
    color: blue;
}

.rojo2{
    color: red;
    text-decoration: underline;
}