body {
    background-color: #333;
    color: #fff;
}

.product-card {
    background-color: #222;
    border: 1px solid #444;
}

.product-card img {
    max-height: 300px; /* Aumenta el valor aquí para hacer las imágenes más grandes */
    object-fit: cover;
}

.product-card h5, .product-card p, .product-card h5 {
    color: #fff;
}