
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    /* Sombra inferior negra: 10px de desplazamiento vertical y con un desenfoque de 15px */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;

    transition: color 0.3s; 
    /* Transición para suavizar el cambio de color (para que no sea tan brusco al cambiar de color el texto */
}

/* Esto es para que haga algo cada vez que pasamos el ratón por encima del menú */
nav a:hover {
    color: #007bff; /* cambia el color al texto al pasar el ratón */
}

section {
    padding: 20px;
}

h1,
h2 {
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    /* Sombra de texto: en encabezados h1 y h2, que disponen de 4px de desplazamiento horizontal y vertical; y 2px de desenfoque */
}